@{
    ViewData["Title"] = "EditProfile";
}

<h2>@ViewData["Title"]</h2>
<p>@ViewBag.Username</p>
@* <p>@ViewBag.ProfileImageLink</p> *@
<p>4</p>
<p>@ViewBag.Email</p>
<p>@ViewBag.Info</p>
<p>@ViewBag.Gender</p>
<p>@ViewBag.Education</p>
<p>@ViewBag.Address</p>
<p>som</p>
