@using MUENTIP.ViewModels
@model HomeViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Home/activity_card.css" />
    <link rel="stylesheet" href="~/css/Home/home_page.css" />
</head>

<body>
    <header class="header-muentip"><div>MUENTIP</div></header>
    <nav class="header-nav">
        <ul class="header-menu">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="@Url.Action("Index", "MyActivity")">My Activity</a></li>
            }
        </ul>

    </nav>
    <nav id="hot-tag-nav">
        <h1>Hot Topic</h1>
        <ul id="tag-nav" class="tag-nav"></ul>
    </nav>
    <section id="realtime-sect">
        <h1>Realtime</h1>
        <div id="realtime-activity" class="act-div"></div>
    </section>
    <button id="back-to-top"><img src="~/img/back-to-top.png" /></button>
    <script>
        var activityModel = @Html.Raw(Json.Serialize(Model));
        var ViewActivityURL = "@Url.Action("Index", "ViewActivity")";
        var CreateActivity = "@Url.Action("Index", "CreateActivity")";
    </script>
    <script src="~/js/Home/activity_card.js"></script>
    <script src="~/js/Home/home_page.js"></script>
</body>

</html>
