@using MUENTIP.ViewModels
@model ViewActivityViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/ViewActivity/view_activity_page.css" />
</head>
<body>
    <header class="activity-header">
        @if (Model.Card.Owner == Model.UserName)
        {
            <button id="edit-act-bt" type="button">
                <img src="../img/edit.png" alt="edit">
            </button>
        }
        <button class="ReturnButton" onclick="goBack()">&#60;</button>
        <h1>
            @Model.Card.Title
        </h1>
    </header>
    <div class="tags-div">
        @foreach (var tagName in Model.Card.TagsList)
        {
            <div class="tag">@tagName</div>
        }
    </div>
    <div class="activity-info-div">
        <div class="parti-fyi-div">
            <div class="participants">
                <img src="../img/people.png" alt="people">
                <p id="parti-num">@Model.Card.ApplyCount/@Model.Card.ApplyMax</p>
                <button id="parti-bt" class="participants-bt-1"></button>
            </div>
            <p class="fyi-text">*The number of participants has reached the specified number.</p>
        </div>
        @{
            string FormatDateTime(string dateTimeString)
            {
                if (DateTime.TryParse(dateTimeString, out DateTime dateTime))
                {
                    DateTime adjustedDateTime = dateTime;
                    return adjustedDateTime.ToString("yyyy-MM-dd HH:mm");
                }
                return "N/A";
            }
        }
        <p class="deadline-datetime">
            Until @FormatDateTime(Model.Card.DeadlineDateTime)
        </p>
        <p class="start-end-dt">
            <img src="../img/clock.png" alt="clock">
            @FormatDateTime(Model.Card.StartDateTime) - @FormatDateTime(Model.Card.EndDateTime)
        </p>
        <div class="start-end-mb">
            <img src="../img/clock.png" alt="clock">
            <div>
                <p>@FormatDateTime(Model.Card.StartDateTime) - </p>
                <p>@FormatDateTime(Model.Card.EndDateTime)</p>
            </div>
        </div>
        <p><img src="../img/location-pin.png" alt="location">@Model.Card.Location</p>
        <div class="owner-div" id="owner-div">
            <img src="@Model.OwnerImg" alt="owner-img" onerror="this.onerror=null; this.src='../img/default-profile.png';">
            <div class="owner-text-div">
                <p class="owner-name">@Model.Card.Owner</p>
                <p>@FormatDateTime(Model.Card.PostDateTime)</p>
            </div>
        </div>
        <h2>Detail</h2>
        <p id="descript">@Model.Card.Description</p>
    </div>
    <div class="activity-announce">
        <h2>Announcement</h2>
        @if (Model.Card.Owner == Model.UserName)
        {
            <form id="add-new-announce">
                <textarea name="Content" placeholder="Add new announcement..." rows="1" oninput="expandTextarea(this)" required></textarea>
                <button id="new-announce-bt" type="submit">+</button>
            </form>
        }
        <div id="custom-confirm" class="confirm-overlay" style="display: none;">
            <div class="confirm-box">
                <img alt="alert" src="../img/alert-triangle.png">
                <p class="confirm-title">Are you sure?</p>
                <p class="confirm-context">This announcement will be permanently deleted.</p>
                <div class="confirm-buttons">
                    <button id="confirm-no">Cancel</button>
                    <button id="confirm-yes">Yes, delete!</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    <div id="notify-popup">
        <p class="noti-title">Apply successful!</p>
        <p class="noti-context">We will notify you by email if you are selected.</p>
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
    </div>
    <script>
        var viewActivityModel = @Html.Raw(Json.Serialize(Model));
    </script>

    <script src="~/js/ViewActivity/view_activity_page.js"></script>
</body>
</html>